#cart
  %h2 Your Cart
  = button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-warning'
  %br
  %table
    = render(cart.line_items)
  
  
  .totalLine
    %strong Total : 
    = number_to_currency(@cart.total_price)
  = button_to 'Checkout', new_order_path, method: :get, class: 'btn btn-info'