/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */



* {
  color: #428bca;
  padding: 0;
  margin: 0;
}
html, body{
  // height: 300px;
  height: 100%;
}
a{
  text-decoration: none;
  list-style-type: none;
  display: block;
  // font-size: 16px;
  // color: white;
}
  .inline{
    float: left;
  }

.row1  {
  height: 40px;
  margin-top: 20px;
  .logo{
    width: 17%;
    // float: left;
    // position: relative;
    a:hover{
      color: #fff;
      list-style-type: none;
      text-decoration: none;
      background-color:  white;
    }
    p{
      line-height: 36px;
      font-size: 24px;
      font-weight: bold;
      font-family: initial;
      color: #428bca;
      margin-left: 35px;
    }
    }
  .search-box{
    
    .search-input{
      position: relative;
      height: 34px;
      width: 83%;
      margin-top: 4px;
      font-size: 18px;
      // border-color: #428bca;
    }
    .search-btn{
      position: absolute;
      height: 34px;
      width: 50px;
      margin-top: 4px;
      color: white;
      background-color: #428bca;
      border: solid 1px #428bca;
      margin-left: -50px;

      
    }
  }
  .account{
    
    .login, .logout, .signup{
      float: right;
      padding: 7px ;
      margin-left: 5px;
      margin-top: 4px;
      border: solid 1px #428bca;
      border-radius: 3px;
      color: #428bca;
    }

    a:hover{
      color: #fff;
      list-style-type: none;
      text-decoration: none;
      background-color:  #428bca;
    }
  }
  .cart {
    color: red;
    display: block;
    a{
      color: #428bca;

    }
    a:hover {
      list-style-type: none;
      background-color: white;
      text-decoration: none;
      display: block;
    }
  }
}

.row2 {
  // height: 60px;
  border-bottom: solid 1px #428bca; 
  // background-color: red;
  clear: both;
  line-height: 40px;
  // float: left; /*  */
  margin: 20px auto ;
  // font-size: 30px;
  .inline a {
    display: block;
    font-weight: 500;
    color: #428bca;
    // border: solid 1px #428bca;
  }
  .inline:hover , a:hover {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    background-color:  #428bca;
  }
}

  .row2:hover{

  } 
#homeCarousel {
  bottom: 0px;
}
.main {
  position: relative;
  min-height: 100%;
  padding-bottom: 140px;
}

.main:after {
  content: ".";
  display: block;
}
.footer, .main:after {
  height: 140px;
}
.footer {
  padding-top: 10px;
  // background-color: red;
  border-top: solid 1px #428bca;
  ul, li, a{
    list-style-type: none;
    text-decoration: none;
    background-color: white;
    color: black;
    display: block;
  }
  li:hover, a:hover, .fa:hover {
    color: #428bca;

  }
  

  .col5 {
    border-top: solid 1px #428bca;
    clear: both;
  }
}