/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */




* {
  padding: 0;
  margin: 0;
}
html{
  height: 100%;   // for footer
}
body{
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin:0;
  padding-bottom: 300px; // ff
  min-height: 100%; // for footer
  position: relative; //ff
  font-family: "Helvetica Neue", Arial, sans-serif;

}
.header{
  // height: 400px;
  background-color: #252525;
}
.fix-menu{
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}
#logo p{
  font-size: 36px;
  color: white;
  text-align: center;
  font-weight: 700px;
  line-height: 80px;
}
.container #main-menu{
  // margin-top: 30px;
  background-color: #252525;
  width: 100%;
}
.container #main-menu .search{
  // left: 0;
  float: left;
  // background-color: green;
  height: 45px;
  line-height: 25px;
}
.container #main-menu .search li{
  padding-top: 8px;
}
.container #main-menu .search .search-btn{
  height: 29px;
  width: 40px;
  margin-left: -43px;
  background-color: #f0300b;
  color: white;
  border: none;
}
.container #main-menu .search .search-btn:hover{
  background: #f0300b;
  color: #781705;
}
.container #main-menu .search .search-input{
}

// Css for menu
.container #main-menu  ul{
  // width: 100%;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #252525;
  text-align: center;
  float: right;
  position: relative;
}
.container #main-menu  ul li{
  display: inline-block;
}
.container #main-menu ul li ul p{
  color: white;
}
// css for num of cart
.container #main-menu ul li .num-of-cart{
  display: block;
  height: 24px;
  width: 24px;
  float: right;
  margin-top: 10px;
  margin-right: 30%;
  border-radius: 12px;
  background-color: #f0300b;
  p{
    margin-top:3px;
  }
}
.container #main-menu ul li .num-of-cart:hover{
  background-color: #252525;
  p{
    color: #fff;
  }
}
//css for cart-box
.container #main-menu ul ul .cart-box{
  width: 280px;
  float: right;
  background-color: #c7c6c4;

}
// delete item on cartbox

#main-menu ul li ul .cart-box a{
  color: #252525;
  width: 15px;
  display: block;
  // height: 15px;
}
#main-menu ul li ul .cart-box a:hover{
  background-color: #c7c6c4;
  color: red;
}

// ---contin
.container #main-menu  ul li a{
  display: block;
  height: 45px;
  width: 150px;
  color: #fff;
  font-family: helvetica;
  line-height: 43px;
  text-decoration: none;
  transition: background 0.5s linear 0s, color 0.5s linear 0s;
}
.container #main-menu  ul li a:hover {
  background: #f0300b;
  color: #781705;

  .num-of-cart{
    background-color: #252525;
    p{
      color: #fff;
    }
  } 
}
.container #main-menu  ul ul{
  z-index: 99999;
  position: absolute;
  width: 150px;
  display: none;
}
.container #main-menu  ul li ul li{
  display: block;
  background: #252525;
}
.container #main-menu  ul li ul li p{
  color: white;
  display: none;
}
.clear{
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
  line-height: 0;
  background-color: red;
}

// CSS for main --------------------
.main{
  margin-top: 10px;
}


// Css for footer

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  // height:250px;   /* Height of the footer */
  background:#252525;
  padding-top: 10px;
  color: #fff;

}
.footer .container ul h5{
  padding-bottom: 5px;
}

.footer .container ul {
  height: 123px;
  width: 264px;
  float: left;
  // text-align: center;
}
.footer .container ul li{
  color: #fff;
  display: block;
}
.footer .container ul li a{
  display: block;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.footer .container ul li a:hover{
  background: none;
  color: #f0300b;
}

//Css for copy right
.footer .copyright{
  border-top: solid 1px #fff;
  text-align: center;
  padding-top: 5px;
}


// ============================================
// ==============Responsive====================

// @media screen and (max-width: 992x){
//   body{background-color: red;  }
//   .product-box{
//     width: 31.333333%;
//     margin: 0 1% 0 1%;
//   }
// }

// @media only screen and (min-width:768px) and (max-width:992px){
//    body   { background-color: green; }

//    // .footer { background-color: red; }
//    .product-box{
//     width: 31.3333%;
//     margin: 0 1% 0 1%;
//    }
//    .footer{
//       // height: 400px;
//       ul{
//         width: 30%;
//       }
//       ul.social{
//         width: 100%;
//       }
//    }
   
// }

// @media screen and (max-width: 480px){
//   body{
//     background-color: red;
//   }
//   .product-box{
//     width: 100%;
//     margin: 0 auto;
//   }
// }
